<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>NAvbar</title> -->
    <link rel="stylesheet" href="/Components/navbar.css">
</head>
<body>

    <div id="navbar-container">
        <div class="nav-logo-holder">
            <img src="../assests/logo.svg">
        </div>

        
        <div class="links-wrapper"> 
            <a href="/">
                <img src="../assests/home_icon.svg">
                Overview
            </a>

            <a href="/">
                <img src="../assests/people_icon.svg">
                Patients
            </a>

            <a href="/">
                <img src="../assests/calander_icon.svg">
                Schedule
            </a>

            <a href="/">
                <img src="../assests/message_icon.svg">
                Message
            </a>

            <a href="/">
                <img src="../assests/creditcard_icon.svg">
                Transactions
            </a>
        </div>


        <div class="account-detail-wrapper">
            <div class="account-img-holder">
                <img src="../assests/doctor1.png">
            </div>

            <div class="name-holder">
                <p>Dr. Jose Simmons</p>
                <p>General Practitioner</p>
            </div>

            <div class="setting-img-holder">
                <img src="../assests/setting.svg" alt="">
            </div>

            <div class="ellipse-img-holder">
                <img src="../assests/ellipse_icon.svg" alt="">
            </div>

        </div>

    </div>

</body>
</html>