<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Components/patients.css">
</head>

<body>

    <div class="sider-container">
        <div class="flexer-head">
            <h1>Patients</h1>
            <div>
                <img src="../assests/search_icon.svg" alt="">
            </div>
        </div>

        <div class="patients-list-container">

            
        </div>
        
    </div>

</body>

</html>