<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Components/profile.css">
</head>

<body>

    <div id="profile-image-wrapper">
        <img class="profile-img" src="" alt="loading...">
    </div>

    <h1 id="profile-heading"></h1>


    <div class="profile-col-flexer">

        <div class="profile-row-flexer">
            <div class="profile-icon-holder">
                <img src="../assests/calander_icon2.svg" alt="">
            </div>

            <div class="profile-data">
                <p class="lable">Date Of Birth</p>
                <p class="profile-value1"></p>
            </div>
        </div>

        <div class="profile-row-flexer">
            <div class="profile-icon-holder">
                <img src="../assests/gender_icon.svg" alt="">
            </div>

            <div class="profile-data">
                <p class="lable">Gender</p>
                <p class="profile-value2"></p>
            </div>
        </div>

        <div class="profile-row-flexer">
            <div class="profile-icon-holder">
                <img src="../assests/call_icon.svg" alt="">
            </div>

            <div class="profile-data">
                <p class="lable">Contact Info.</p>
                <p class="profile-value3"></p>
            </div>
        </div>

        <div class="profile-row-flexer">
            <div class="profile-icon-holder">
                <img src="../assests/call_icon.svg" alt="">
            </div>

            <div class="profile-data">
                <p class="lable">Emergency Contacts</p>
                <p class="profile-value4"></p>
            </div>
        </div>

        <div class="profile-row-flexer">
            <div class="profile-icon-holder">
                <img src="../assests/insurance_icon.svg" alt="">
            </div>

            <div class="profile-data">
                <p class="lable">Insurance Provider</p>
                <p class="profile-value5"></p>
            </div>
        </div>
    </div>


    <div class="button-holder">
        <button>Show All Information</button>
    </div>

</body>

</html>